*.iml
.gradle
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf
/.idea/deploymentTargetSelector.xml
/.idea/
.DS_Store
/build
/captures
/Screen/
/dist/
/keystore.properties
/poziomnica-release.jks
.externalNativeBuild
.cxx
/.kotlin
**/build/
**/.cxx/
**/.externalNativeBuild/
*.apk
*.aab
*.ap_
*.jks
*.keystore
*.log
